@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap");

:root {
  --bg-color: #ffffff;
  --text-color: #333333;
  --input-bg: #f0f0f0;
  --input-border: #cccccc;
  --button-bg: #4caf50;
  --button-text: #ffffff;
}

.dark-mode {
  --bg-color: #222222;
  --text-color: #f0f0f0;
  --input-bg: #444444;
  --input-border: #666666;
  --button-bg: #45a049;
  --button-text: #ffffff;
}

body {
  font-family: "Poppins", sans-serif;
  font-size: 18px;
  line-height: 1.6;
  max-width: 400px;
  margin: 0 auto;
  padding: 20px;
  background-color: var(--bg-color);
  color: var(--text-color);
  transition: all 0.3s ease;
  position: relative;
}

.header {
  text-align: center;
  position: relative;
  width: 100%;
  margin-bottom: 20px;
}

h1 {
  font-size: 2.5em;
  font-weight: 600;
  margin-bottom: 20px;
}

#holidayForm {
  width: 100%;
}

label,
select,
input,
button {
  display: block;
  width: 100%;
  margin-bottom: 15px;
  font-size: 1.1em;
}

select,
input,
button {
  padding: 10px;
  border: 1px solid var(--input-border);
  border-radius: 5px;
  background-color: var(--input-bg);
  color: var(--text-color);
  width: 100%;
  box-sizing: border-box;
}

button {
  background-color: var(--button-bg);
  color: var(--button-text);
  border: none;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #45a049;
}

.home-button {
  position: fixed;
  left: 20px;
  top: 20px;
  background-color: #4caf50;
  border: none;
  color: white;
  padding: 10px 20px;
  text-decoration: none;
  font-size: 16px;
  cursor: pointer;
  border-radius: 5px;
}

@media (max-width: 600px) {
  body {
    font-size: 16px;
  }

  h1 {
    font-size: 1.8em;
  }
}

/* Add these styles at the end of the file */

#result {
  margin-top: 20px;
  padding: 15px;
  background-color: var(--input-bg);
  border-radius: 5px;
  font-size: 1.1em;
}

#result h2 {
  margin-top: 0;
  font-size: 1.3em;
}

#result p {
  margin-bottom: 5px;
}

#hoursAccrued {
  font-weight: bold;
}

/* Custom arrow styles */
select {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  background-image: url("data:image/svg+xml;utf8,<svg fill='%23ffffff' height='24' viewBox='0 0 24 24' width='24' xmlns='http://www.w3.org/2000/svg'><path d='M7 10l5 5 5-5z'/></svg>");
  background-repeat: no-repeat;
  background-position: right 10px top 50%;
  background-size: 24px;
  padding-right: 30px;
}

.dark-mode select {
  background-image: url("data:image/svg+xml;utf8,<svg fill='%23f0f0f0' height='24' viewBox='0 0 24 24' width='24' xmlns='http://www.w3.org/2000/svg'><path d='M7 10l5 5 5-5z'/></svg>");
}

input[type="number"] {
  appearance: textfield;
  -moz-appearance: textfield;
  -webkit-appearance: textfield;
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
