@import url('https://fonts.cdnfonts.com/css/sugar-bomb');

body {
  padding: 20px;
  background-color: #f7f7f7;
  background-image: url('/files/hijingo.webp');
  font-family: 'Sugar Bomb', sans-serif;
}

#home-button {
  display: inline-block;
  margin-bottom: 20px;
  padding: 10px 15px;
  background-color: red;
  color: white;
  text-decoration: none;
  border-radius: 8px;
  font-size: 16px;
  font-weight: bold;
  transition: background-color 0.3s ease;
  position: absolute;
  top: 20px;
  left: 20px;
}

#home-button:hover {
  background-color: darkred;
}

h1 {
  text-align: center;
  font-size: 3em;
  margin-bottom: 20px;
  /* color: #444; */
  color: white;
}

#search-bar {
  width: 50%; /* Adjusted width to be less wide */
  padding: 12px 20px;
  margin-bottom: 20px;
  font-size: 18px;
  border: 2px solid #ccc;
  border-radius: 30px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease-in-out;
  margin: 0 auto; /* Center the search bar */
  display: block; /* Ensures centering works properly */
}

#search-bar:focus {
  outline: none;
  border-color: #007bff;
  box-shadow: 0 4px 15px rgba(0, 123, 255, 0.4);
}

#results {
  list-style-type: none;
  margin-top: 20px;
  padding: 0;
}

#results li {
  width: 50%; /* Match the width of the search bar */
  padding: 15px 20px;
  background-color: #fff;
  margin-bottom: 20px; /* Adds space between the items */
  border-radius: 20px; /* Increased border-radius for more rounded corners */
  border-left: 4px solid #007bff;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s;
  margin-left: auto;
  margin-right: auto; /* Center the list items */
  display: block; /* Ensure the items stack vertically */
}

#results li:hover {
  transform: scale(1.02);
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2);
}
